.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.cart-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #bdc3c7;
}