.list_articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    margin: 20px;
    
}

.front_office {
    margin-top: 5rem;
    margin-left: 5rem;
    height: 25%;
    flex: 1;
    display: flex;
  flex-direction: column;
}

